[submodule "armord/src/static/libs/uxf"]
	path = armord/src/static/libs/uxf
	url = git@github.com:hivesolutions/uxf_bin.git
[submodule "armord/src/static/libs/layout"]
	path = armord/src/static/libs/layout
	url = git@github.com:hivesolutions/layout.git
